*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/hs_err_pid17996.log
/app/google-services.json
/app/hs_err_pid11360.log
/app/hs_err_pid13232.log
/app/hs_err_pid21900.log
/app/hs_err_pid15024.log
/app/hs_err_pid9792.log
/app/hs_err_pid16376.log
/app/hs_err_pid15216.log
/app/hs_err_pid16360.log
/app/hs_err_pid13060.log
/app/hs_err_pid23276.log
/app/hs_err_pid23332.log
/app/replay_pid15216.log
/app/replay_pid15024.log
/app/replay_pid23332.log
/app/replay_pid9792.log
/app/replay_pid16360.log
/app/replay_pid17996.log
/app/replay_pid16376.log
/app/replay_pid23276.log
!/app/build/outputs/
